Source: archivematica-common
Section: utils
Priority: extra
Maintainer: Artefactual Systems Inc. <sysadmin@artefactual.com>
Build-Depends:
	debhelper
Standards-Version: 3.9.8
X-Python3-Version: >= 3.8

Package: archivematica-common
Architecture: amd64
Depends:
	${misc:Depends},
	python3,
	python3-distutils,
	archivematica (>= 1.17.0)
Description: Archivematica shared libraries.
Homepage: https://www.archivematica.org
