[Unit]
Description=Archivematica MCPServer
After=syslog.target network.target mysql.service

[Service]
Type=simple
User=archivematica
EnvironmentFile=/etc/default/archivematica-mcp-server
ExecStart=/usr/share/archivematica/virtualenvs/archivematica/bin/python /usr/lib/archivematica/MCPServer/archivematicaMCP.py

[Install]
WantedBy=multi-user.target

