#!/usr/bin/make -f

export LC_ALL=C.UTF-8
export DH_VIRTUALENV_INSTALL_ROOT=/usr/share/archivematica/virtualenvs

%:
	dh $@ --with python-virtualenv --with systemd

override_dh_virtualenv:
	dh_virtualenv --requirements ../../requirements.txt --skip-install
	dh_virtualenv --preinstall "pip==9.0.3" --skip-install

# See https://readthedocs.org/projects/dh-virtualenv/downloads/pdf/latest/ (2.3.3 section)
override_dh_shlibdeps:
	dh_shlibdeps -X/numpy/.libs
