#!/usr/bin/make -f

export LC_ALL=C.UTF-8
export DH_VIRTUALENV_INSTALL_ROOT=/usr/share/archivematica/virtualenvs

%:
	dh $@ --with python-virtualenv --with systemd

override_dh_virtualenv:
	# Preinstalling pip 9.0.3 solves a problem with the shebangs inside the
	# virtual environment. See:
	# - https://github.com/artefactual/archivematica/issues/1042
	# - https://github.com/artefactual-labs/am-packbuild/pull/159
	dh_virtualenv --preinstall "pip==9.0.3" --preinstall "setuptools==44.1.0" --preinstall "wheel==0.35.1" --extra-pip-arg --find-links=lib
