Package: jhove
Section: main
Architecture: all
Maintainer: Artefactual <sysadmin@artefactual.com>
Depends: openjdk-8-jre-headless
Priority: optional
Version: 1.26.1-RELEASE
Description: JSTOR/Harvard Object Validation Environment
 The concept of representation format, or type, permeates all technical
 areas of digital repositories. Policy and processing decisions
 regarding object ingest, storage, access, and preservation are
 frequently conditioned on a per-format basis. In order to achieve
 necessary operational efficiencies, repositories need to be able to
 automate these procedures to the fullest extent possible.
 JSTOR and the Harvard University Library are collaborating on a
 project to develop an extensible framework for format validation:
 JHOVE (pronounced "jove"), the JSTOR/Harvard Object Validation
 Environment. The initial release of JHOVE includes modules for
 arbitrary byte streams, ASCII and UTF-8 encoded text, GIF, JPEG2000,
 and JPEG, and TIFF images, AIFF and WAVE audio, PDF, HTML, and XML;
 and text and XML output handlers.
