#!/usr/bin/make -f

export LC_ALL=C.UTF-8
export DH_VIRTUALENV_INSTALL_ROOT=/usr/share/archivematica/virtualenvs

%:
	dh $@ --with python-virtualenv --with systemd

override_dh_virtualenv:
	dh_virtualenv --requirements ../archivematicaCommon/requirements/production.txt --skip-install
	dh_virtualenv --requirements ../dashboard/src/requirements/production.txt --skip-install
	dh_virtualenv --preinstall "pip==9.0.3" --preinstall "setuptools==44.1.0" --preinstall "wheel==0.33.6" --skip-install
