[Unit]
Description=Archivematica MCPClient
After=syslog.target network.target

[Service]
Type=simple
User=archivematica
EnvironmentFile=/etc/default/archivematica-mcp-client
Environment=PATH=/usr/share/archivematica/virtualenvs/archivematica/bin/
ExecStart=/usr/share/archivematica/virtualenvs/archivematica/bin/python /usr/lib/archivematica/MCPClient/archivematicaClient.py

[Install]
WantedBy=multi-user.target
