Source: archivematica-storage-service
Section: utils
Priority: extra
Maintainer: Artefactual Systems Inc. <sysadmin@artefactual.com>
Build-Depends:
    python3-dev,
    debhelper,
    dh-virtualenv (>= 1.2.2),
    gnupg,
    libmysqlclient-dev,
    libffi-dev,
    libssl-dev,
    libxml2-dev,
    libxslt-dev,
    dh-virtualenv,
    libldap2-dev,
    libsasl2-dev,
	pkg-config,
    zlib1g-dev
Standards-Version: 3.9.8
X-Python3-Version: >= 3.8

Package: archivematica-storage-service
Architecture: amd64
Depends:
    ${misc:Depends},
    nginx,
    unar (>= 1.8.1-4~),
    python3,
    rng-tools,
    gnupg1,
    gettext,
    libmysqlclient-dev
Description: Django webapp for managing storage in an Archivematica
    installation.
Homepage: http://archivematica.org
