Source: fits
Section: utils
Priority: extra
Maintainer: Artefactual <sysadmin@artefactual.com>
Build-Depends: debhelper (>= 7), openjdk-8-jdk-headless, ant-gcj
Standards-Version: 3.8.3
Homepage: http://code.google.com/p/fits/

Package: fits
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, nailgun (>= 0.9), openjdk-8-jre-headless
Description: File Information Tool Set (FITS)
 The File Information Tool Set (FITS) identifies, validates, and extracts technical metadata for various file formats. It wraps several third-party open source tools, normalizes and consolidates their output, and reports any errors.
