[Unit]
Description=SFA preprocessing worker
AssertFileIsExecutable=/usr/bin/preprocessing-worker


[Service]
Type=simple
WorkingDirectory=/var/lib/enduro
User=enduro
Group=enduro
#EnvironmentFile=-/etc/sysconfig/enduro-am-worker
ExecStart=/usr/bin/preprocessing-worker --config /etc/preprocessing-sfa.toml

# Let systemd restart this service always
#Restart=always

# Specifies the maximum file descriptor number that can be opened by this process
LimitNOFILE=1048576

# Specifies the maximum number of threads this process can create
#TasksMax=infinity

# Disable timeout logic and wait until process is stopped
#TimeoutStopSec=infinity
#SendSIGKILL=no

[Install]
WantedBy=multi-user.target
