[Unit]
Description=Cadence
After=mysqld.service

[Service]
Type=simple
Restart=on-failure
User=enduro
ExecStart=/usr/bin/cadence-server --root=/etc/cadence --env=nha start --services=frontend,matching,history,worker

[Install]
WantedBy=enduro.service
