Source: archivematica-dashboard
Section: utils
Priority: extra
Maintainer: Santiago Collazo <sysadmin@artefactual.com>
Build-Depends:
	debhelper (>= 9),
	quilt,
	libffi-dev,
	libssl-dev,
	dh-virtualenv,
	dh-systemd,
	libffi-dev,
	libldap2-dev,
	libsasl2-dev,
	libssl-dev,
	nodejs ( >= 8),
	python-dev,
	libxml2-dev,
	libxslt1-dev,
	libmysqlclient-dev
Standards-Version: 3.9.8
Homepage: http://archivematica.org

Package: archivematica-dashboard
Architecture: any
Depends: 
	${shlibs:Depends},
	${misc:Depends},
	nginx,
	python (>= 2.7.3),
	python-pip,
	python-dateutil,
	python-gearman,
	python-simplejson,
	libffi-dev,
	libldap2-dev,
	libsasl2-dev,
	libssl-dev,
	python-dev,
	libxml2-dev,
	libxslt1-dev
Description: Web Dashboard for Archivematica
  Web based dashboard interface used to control an Archivematica pipeline.

