[Unit]
Description=Archivematica MCP Server Service
After=syslog.target network.target mariadb.service

[Service]
Type=simple
User=archivematica
EnvironmentFile=/etc/sysconfig/archivematica-mcp-server
ExecStart=/usr/share/archivematica/virtualenvs/archivematica/bin/python /usr/lib/archivematica/MCPServer/archivematicaMCP.py

[Install]
WantedBy=multi-user.target

