[Unit]
Description=Enduro
After=cadence.service

[Service]
Type=simple
Restart=on-failure
User=archivematica
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=EnduroStdout
SyslogFacility=local1
ExecStart=/usr/local/bin/enduro --config /etc/enduro.toml

[Install]
WantedBy=multi-user.target
