#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# Disable dh_shlibdeps; there is no actual native code in FITS,
# however this test will find a 32-bit ELF binary from exiftool's
# test data and complain if a 32-bit libc is not present.
# Since this will never be *executed*, we can safely skip this step.
override_dh_shlibdeps:

%:
	dh  $@

override_dh_auto_build:
	dh_auto_build -- compile-create-jar

override_dh_strip_nondeterminism:
