#!/usr/bin/make -f

include /usr/share/dpkg/default.mk
include /usr/share/dpkg/vendor.mk

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1
export GOPATH=/debbuild/acmetool

#See https://github.com/hlandau/buildinfo
GO_LDFLAGS=-X github.com/hlandau/buildinfo.RawBuildInfo=$(shell echo -n 'acmetool $(DEB_VENDOR) version $(DEB_VERSION_UPSTREAM)' | base64)

%:
	dh $@

override_dh_auto_build :
	go get -u -ldflags '${GO_LDFLAGS}' github.com/hlandau/acme/cmd/acmetool

override_dh_auto_test:

override_dh_auto_install:
	mkdir -p debian/acmetool/usr/bin
	cp bin/acmetool debian/acmetool/usr/bin/

override_dh_installman:
	mkdir -p debian/acmetool/usr/share/man/man8
	bin/acmetool --help-man > debian/acmetool/usr/share/man/man8/acmetool.8
